/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

div#mg-antrag label{
	font-size: .8rem;
}
div#mg-antrag col{
	line-height: 1.1;
}
div#mg-antrag .row{
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding-bottom: .3rem;
}

div#mg-antrag .mgvo-gruppen-entry td,th {
	 padding: 5px;
}
div#mg-antrag .anschrift, .zahlungsdaten, .weiteres, .zusatzfelder {
	background-color: lightgray;
	padding: 1rem 0 2rem;
	margin: 2rem 0;
}
div#mg-antrag h3{
	font-size: 1.5rem;
	font-weight: 700;
	padding-left: 1rem;
}

div#mg-antrag #tooManyGroupsNotice{
	font-size: 10px;
	font-style: italic;
}

div#mg-antrag label#sepa-label{
	white-space: nowrap;
}

div#mg-antrag p#sepa-hint{
	font-size: 10px;
	font-style: italic;
	padding: 0 15px;
	text-align: justify;
}

.accordion ul li label {
	white-space: nowrap;
	overflow: hidden;
	margin-bottom: 0.1rem;
	vertical-align: bottom;
}

.accordion ul  {
	list-style:none;
	margin-bottom: 0rem !important;
}

.accordion .card-header {
	padding: 0.0rem 1.25rem;
}

.accordion .card-body  {
	list-style:none;
    padding: 0.5rem;
}

.accordion h5 button {
   color: #000;	
	
}
